[user]
	name = Jon Palmisciano
	email = jp@jonpalmisc.com

[gpg]
	signingKey = A2D8C5DE
	program = /opt/homebrew/bin/gpg

[commit]
	gpgSign = true

[init]
	defaultBranch = master

[push]
	recurseSubmodules = check
